/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.vtable-container
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}
